/* ------------

CSS file for Brain Freeze Studios,
Created by : Andres Mrad (Q-ro).
Creation date: June 20 2013.

-------------- */

/*
*   HTML Elements
*/
 header {
    background-color:#434343;
    padding-top: 15px;
    width: 100%;
}
.header_Container {
    width:95%;
    padding:0;
    margin:0;
}
body {
    margin:0;
    padding:0;
    text-align:center;
    width:100%;
    font-family: 'Benton Sans', lekton, helvetica, arial, sans-serif;
}
/*
*   Header items
*/
 .logo_Container {
    width:50%;
    max-width:230px;
    float:left;
    vertical-align: middle;
}
.page_Logo {
    width:100%;
}
/*
*   Menu Elements
*/
 .dropdown_Menu {
    display:none;
    visibility:hidden;
    width:0;
    height:0;
    z-index:0;
}
.horizontal_Menu_Container {
 float:right;
    padding:0;
    margin:0;
    z-index:3;
}
.horizontal_Menu{
 list-style-type: none;
    color: #fff;
    background-color:#545454;
    margin-bottom:0;
}
.horizontal_Menu li{
    float:left;
}
.horizontal_Menu li a{
    color:#fff;
    text-decoration:none;
    padding-left: 10px;
    padding-right:10px;
    font-size: 1.1em;
    font-family: quicksand, anonymous-pro, helvetica, arial;
    border-left: solid #434343 1px;
    line-height: 60px;
    display:block;
}

menu{
    margin:0;
    padding:0;
}

.menu_Home:hover{
    background:#34b8e7;
}
.menu_Blog:hover{
    background:#8a3891;
}
.menu_Videos:hover
{
    background:#cc8a26;
}
.menu_Gallery:hover{
    background:#ab242b;
}
.menu_Code:hover{
    background:#26ab5b;
}
.menu_Steam:hover
{
    background:#3b3938;
}
.menu_About:hover{
    background:#9f9cff
}
/*
*   Menu for tablets and smaller devices
*/
 @media only screen and (max-width: 850px) {
    .horizontal_Menu_Container {
        display:none;
        visibility:hidden;    
        width:0;
        height:0;
        z-index:0;
    }
    .dropdown_Menu {
        visibility:visible;
        display:block;
        float:right;
        padding-top: 1%;
        padding-bottom:2%;
        width:auto;
        height:auto;
        
        z-index:3;
        /*
    width:90%;
    max-width:85px;*/
    }
    dorpdown_Menu_Icon {
        max-width:45px;
    }
    .dropdown_Menu li a {
        color: #fff;
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        cursor: pointer;
        text-decoration:none;
    }
    .root {
        list-style:none;
        margin:0px;
        padding:0px;
        font-size: 11px;
        padding: 1px 0 0 0px;
        border-top:1px solid #dedede;
    }
    .submenu {
        float:left;
        text-align:left;
        background-color:#343434;
        margin:0;
        width: 100%;
        vertical-align: middle;
    }
    .menu_Root {
        float:right;
    }
}

/*
*   Slide Section
*/
.slide_Section
{
    width:100%;
    padding-top:30px;
    padding-bottom: 30px;
}
#Home_Slide_Section
{
    
    background-color: #34b8e7;
    /*
    background-image: linear-gradient(bottom, #2D77A8 21%, #35A6FC 70%);
    background-image: -o-linear-gradient(bottom, #2D77A8 21%, #35A6FC 70%);
    background-image: -moz-linear-gradient(bottom, #2D77A8 21%, #35A6FC 70%);
    background-image: -webkit-linear-gradient(bottom, #2D77A8 21%, #35A6FC 70%);
    background-image: -ms-linear-gradient(bottom, #2D77A8 21%, #35A6FC 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.21, #2D77A8),
        color-stop(0.7, #35A6FC)
        );
    */
}

/*
*   Main content section
*/
.main_Content_Container
{
    background-color:#bebebe;
    padding:25px 0 25px 0;
    width:100%;
}

.main_Content_Wrapper
{
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

.information_Container
{
    background-color:white;
    padding-top:35px;
    padding-bottom: 30px;
}

.main_Content
{
    float:left;
    
}

.main_Content h1
{
    font-size: 1.7em;
}

.main_Content hr
{
    margin: 1% 2%;
}

.side_Bar
{
    float:right;
}


/*
*   Clearfix
*/
 .clearfix:after {
    content:".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* ------------
*   Grid System
*   by Graham Miller (see my web site Graham Robertson Miller) and is licensed under a Creative Commons Attribution 3.0 License.
*
*   GRID OF EIGHT   
------------ */
 .span_8_of_8 {
    width: 100%;
}
.span_7_of_8 {
    width: 87.3%;
}
.span_6_of_8 {
    width: 74.6%;
}
.span_5_of_8 {
    width: 61.9%;
}
.span_4_of_8 {
    width: 49.2%;
}
.span_3_of_8 {
    width: 36.5%;
}
.span_2_of_8 {
    width: 23.8%;
}
.span_1_of_8 {
    width: 11.1%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
 @media only screen and (max-width: 480px) {
    .span_8_of_8 {
        width: 100%;
    }
    .span_7_of_8 {
        width: 100%;
    }
    .span_6_of_8 {
        width: 100%;
    }
    .span_5_of_8 {
        width: 100%;
    }
    .span_4_of_8 {
        width: 100%;
    }
    .span_3_of_8 {
        width: 100%;
    }
    .span_2_of_8 {
        width: 100%;
    }
    .span_1_of_8 {
        width: 100%;
    }
}