/* ------------

CSS file for Brain Freeze Studios,
Created by : Andres Mrad (Q-ro).
Creation date: June 20 2013.

-------------- */

/*
*   HTML Elements
*/
 header {
    background-color:#434343;
    padding-top: 15px;
    width: 100%;
}
.header_Container {
    width:95%;
    padding:0;
    margin:0;
}
body {
    margin:0;
    padding:0;
    Text-align:center;
}
/*
*   Header items
*/
 .logo_Container {
    width:50%;
    max-width:230px;
    float:left;
    vertical-align: middle;
}
.page_Logo {
    width:100%;
}
/*
*   Menu Elements
*/
 .dropdown_Menu {
    display:none;
    visibility:hidden;
    width:0;
    height:0;
}
.horizontal_Menu_Container {
 float:right;
    padding:0;
    margin:0;
}
.horizontal_Menu{
 list-style-type: none;
    color: #fff;
    background-color:#545454;
    margin-bottom:0;
}
.horizontal_Menu li{
    float:left;
}
.horizontal_Menu li a{
    color:#fff;
    text-decoration:none;
    padding-left: 10px;
    padding-right:10px;
    font-size: 1.1em;
    font-family: quicksand, anonymous-pro, helvetica, arial;
    border-left: solid #434343 1px;
    line-height: 60px;
    display:block;
}

menu{
    margin:0;
    padding:0;
}

.menu_Home:hover{
    background:#34b8e7;
}
.menu_Blog:hover{
    background:#8a3891;
}
.menu_Videos:hover
{
    background:#cc8a26;
}
.menu_Gallery:hover{
    background:#ab242b;
}
.menu_Code:hover{
    background:#26ab5b;
}
.menu_Steam:hover
{
    background:#3b3938;
}
.menu_About:hover{
    background:#9f9cff
}
/*
*   Menu for tablets and smaller devices
*/
 @media only screen and (max-width: 790px) {
    .horizontal_Menu_Container {
        display:none;
        visibility:hidden;    
        width:0;
        height:0;
    }
    .dropdown_Menu {
        visibility:visible;
        display:block;
        float:right;
        padding-top: 1%;
        padding-bottom:2%;
        width:auto;
        height:auto;
        /*
    width:90%;
    max-width:85px;*/
    }
    dorpdown_Menu_Icon {
        max-width:45px;
    }
    .dropdown_Menu li a {
        color: #fff;
        display: block;
        font-family: arial;
        font-size: 1em;
        font-weight: bold;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10px;
        cursor: pointer;
        text-decoration:none;
    }
    .root {
        list-style:none;
        margin:0px;
        padding:0px;
        font-size: 11px;
        padding: 1px 0 0 0px;
        border-top:1px solid #dedede;
    }
    .submenu {
        float:left;
        text-align:left;
        background-color:#343434;
        margin:0;
        width: 100%;
        vertical-align: middle;
    }
    .menu_Root {
        float:right;
    }
}

/*
*   Reset Style for Q-ro Silder
*/

.qro_slider a:active,
.qro_slider a:active,
.qro_slider a:focus,
.qro_slider a:focus  { outline: none; }
 
.slides,
.qro_slider_control_nav,
.qro_slider_direction_nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.qro_slider a img { outline: none; border: none; }
 
.qro_slider {
    margin: 0;
    padding: 0;
}

/*
*   Style for Q-ro Slider
*/

.qro_slider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
 
.qro_slider .slides img {
    width: 100%;
    display: block;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }

.qro_slider {
    position: relative;
    padding: 10px;
    background: #ffffff;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
    box-shadow: 0px 1px 1px rgba(0,0,0, .2);
}


.slide_Section{
    min-width: 150px;
    max-width: 1000px;
}

.qro_slider_direction_nav a {
    display: block;
    position: absolute;
    margin: -17px 0 0 0;
    width: 35px;
    height: 35px;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
 
    background-color: #323232;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#434343));
    background-image: -webkit-linear-gradient(top, #323232, #434343);
    background-image: -moz-linear-gradient(top, #323232, #434343);
    background-image: -o-linear-gradient(top, #323232, #434343);
    background-image: linear-gradient(to bottom, #323232, #434343);
}

.qro_slider_direction_nav a:before {
    display: block;
    position: absolute;
    content: '';
    width: 9px;
    height: 13px;
    top: 11px;
    left: 11px;
    width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-left: 5px solid black;
}
 
.qro_slider_direction_nav a:after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 35px;
}

.qro_slider_direction_nav .qro_slider_next {
    right: -5px;
 
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
 
.qro_slider_direction_nav .qro_slider_prev {
    left: -5px;
 
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
 
.qro_slider_direction_nav .qro_slider_next:before { background-position: -9px 0; left: 15px; }
.qro_slider_direction_nav .qro_slider_prev:before { background-position: 0 0; }
 
.qro_slider_direction_nav .qro_slider_next:after {
    right: 0;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #31611e;
}
 
.qro_slider_direction_nav .qro_slider_prev:after {
    left: 0;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #31611e;
}

.qro_slider .qro_slider_control_nav {
    position: absolute;
    width: 100%;
    bottom: -40px;
    text-align: center;
    margin: 0 0 0 -10px;
}
 
.qro_slider_control_nav li {
    display: inline-block;
}
 
.qro_slider_control_paging li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background-color: #b6b6b6 \9;
 
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
 
    -webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
    -moz-box-shadow: inset 0 0 0 2px #b6b6b6;
    box-shadow: inset 0 0 0 2px #b6b6b6;
}
 
.qro_slider_control_paging li a.qro_slider_active {
    background-color: #34b8e7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34b8e7), to(#1296c5));
    background-image: -webkit-linear-gradient(top, #34b8e7, #1296c5);
    background-image: -moz-linear-gradient(top, #34b8e7, #1296c5);
    background-image: -o-linear-gradient(top, #34b8e7, #1296c5);
    background-image: linear-gradient(to bottom, #34b8e7, #1296c5);
 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.qro_slider .slides p {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 5px;
    margin: 0;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    color: white;
 
    background-color: #222222;
    background: rgba(0,0,0, .9);
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/*
*   Clearfix
*/
 .clearfix:after {
    content:".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* ------------
*   Grid System
*   by Graham Miller (see my web site Graham Robertson Miller) and is licensed under a Creative Commons Attribution 3.0 License.
*
*   GRID OF EIGHT   
------------ */
 .span_8_of_8 {
    width: 100%;
}
.span_7_of_8 {
    width: 87.3%;
}
.span_6_of_8 {
    width: 74.6%;
}
.span_5_of_8 {
    width: 61.9%;
}
.span_4_of_8 {
    width: 49.2%;
}
.span_3_of_8 {
    width: 36.5%;
}
.span_2_of_8 {
    width: 23.8%;
}
.span_1_of_8 {
    width: 11.1%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
 @media only screen and (max-width: 480px) {
    .span_8_of_8 {
        width: 100%;
    }
    .span_7_of_8 {
        width: 100%;
    }
    .span_6_of_8 {
        width: 100%;
    }
    .span_5_of_8 {
        width: 100%;
    }
    .span_4_of_8 {
        width: 100%;
    }
    .span_3_of_8 {
        width: 100%;
    }
    .span_2_of_8 {
        width: 100%;
    }
    .span_1_of_8 {
        width: 100%;
    }
}